<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en"></head>
<body>

<div class="navTop navbar-fixed-top">
  <ul style="float:left;">
    <li style="font: 200% AntennaBold,sans-serif;"><img src="../../assets/images/timesheet_icon.png" alt=""/>TimeSheet Management System</li>
  </ul>
  <ul style="float:right">
    <li><a href=""><img src="../../assets/images/user.png" alt=""/>Welcome Prabu Murugesan</a></li>&nbsp;&nbsp;
    <li><a href="javascript:openHelp()"><img src="../../assets/images/help.png" alt=""/>&nbsp;help</a></li>&nbsp;&nbsp;
    <li><a href="./login"><img src="../../assets/images/exit.png" alt=""/>&nbsp;logout</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </ul>
</div>
<div class="menu-branding">
  <ul id="nav">
    <li><a href="./home"><img src="../../assets/images/home.png" /> Home</a></li>
    <li><a href="./users"><span><img src="../../assets/images/top1.png" /> Employee Managment</span></a></li>
    <li><a href="./projects"><span><img src="../../assets/images/top2.png" /> Project Management</span></a></li>
    <li><a href="#"><img src="../../assets/images/top3.png" /> Timesheet Management</a></li>
    <li><a href="#"><img src="../../assets/images/top4.png" /> My Profile</a></li>
  </ul>
</div>
</body>
</html>
