
body {
  color: #566787;
  background-color:#d3d3d3;
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
  min-height:650px;
}


.container {

  float:left;
  position:relative;
  width:100%;
  height:100px;
  background:url(' ') no-repeat 11px 22px ;
  border:5px solid #454545;
  margin-left: 0;
}
